@font-face {
    font-family: LeagueGothic;
    src: url(/static/media/fonts/LeagueGothic-Regular.otf);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: OpenSans;
    src: url(/static/media/fonts/OpenSans-Light.ttf);
    font-weight: normal;
    font-style: normal;
}

p, span, b, h1, h2, h3, h4, h5, a, label, input, button
{
    font-family: OpenSans;
    /*font-family: "Source Sans Pro", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;*/
}

p, span, b, a
{
    font-size: 13px;
}


body, #login-panel-bg {
    background-image: url('/static/images/background.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 100% auto;
    font-family: "Source Sans Pro", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
}

body {
    background-position: center top -500px;
    margin: 0;
}

html {
    position: relative;
    min-height: 100%;
}
body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    background-color: #f5f5f5;
}

.center-align
{
    text-align: center;
}

.gallery-overlay
{
    text-align: center;
    right: 0;
    left: 0;
    bottom: 0;
    top: 18px;
    position: absolute;
    padding-top: 20%;
    background-color: #000000;
    opacity: 0.0;
    -webkit-transition: opacity 0.7s;
    -moz-transition: opacity 0.7s;
    -ms-transition: opacity 0.7s;
    -o-transition: opacity 0.7s;
    transition: opacity 0.7s;
    transition-delay: 1s;
}

.gallery-overlay p
{
    color: #ffffff;
    font-size: 40px;
}

.gallery-overlay:hover
{
    opacity: 1;
}

.navbar
{
    margin-bottom: 0px;
}

#login-panel {
    text-align: center;
    margin-top: 250px;
    position: relative;

    margin-left: auto;
    margin-right: auto;
    width: 40%;
    max-width: 400px;

    color: #fefefe;
    z-index: 98;

}

.relative
{
    position: relative;
}

#login-panel-bg {
    /* Absolutely position it, but stretch it to all four corners, then put it just behind #search's z-index */
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 99;

    /* Pull the background 70px higher to the same place as #bg's */
    background-position: center -750px;
    -webkit-filter: blur(5px);
    filter:blur('/static/media/blur.svg#blur');
    filter: blur(5px);
}

#login-panel-fg {
    /* Put this on top of the blurred layer */
    position: relative;
    z-index: 100;
    padding: 20px 20px 60px 20px;
    background: rgb(34,34,34); /* for IE */
    background: rgba(34,34,34, 0.66);
    overflow: auto;

    -webkit-transition: background 0.2s;
    -moz-transition: background 0.2s;
    -ms-transition: background 0.2s;
    -o-transition: background 0.2s;
    transition: background 0.2s;
}

#login-panel-fg input, #login-panel-fg button
{
    color: black;
    font-family: "Source Sans Pro", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
}

#login-panel-fg:hover
{
    background: rgba(34,34,34, 0.86);
}


.__group
{
    margin-top: 5px;
    width: 100%;
    float: left;
}

.__group label
{
    margin-left: 20px;
    float: left;
    width: 40px;
}

.discussion-group:last-child
{
    clear: both;
}

#log-in
{
    margin-top: 10px;
}

@media (max-width: 600px ) {
    #login-panel {
        margin-top: 50px;
        width: 100%;
    }
    #login-panel-bg {
        background-position: center -550px;
    }
}

@media (max-width: 1920px )
{
    body, #login-panel-bg {
        background-image: url('/static/images/background.jpg');
        background-repeat: no-repeat;
        background-size: 1980px auto;
    }

}

@media (max-width: 1920px )
{
}

#portal-body
{
    max-width: 1320px;
    margin-left: auto;
    margin-right: auto;

    padding: 0 0 0 0;
}

#portal-title
{
    position: relative;
    min-height: 50px;
    max-height: 100px;
    padding-bottom: 16px;

}

.__title-container
{
    padding: 0 0 6px 6px;
    position:relative;
    text-align: center;
    clear: both;
    background-color: white;
}

.__title-container.left h1
{
    text-align: left;
}

.__title-container.right h1
{
    text-align: right;
}

.__title-container.center h1
{
    text-align: center;
}

.__title-container h1
{
    font-size: 32px;
    color: black;
    margin: 0;
    clear: both;
}

.__container
{
    padding: 0 8px 6px 6px;
    background-color: white;
    box-shadow: #e4e4eb;
    margin-bottom: 6px;
    clear: both;
}

.__container.noSpace
{
    margin-bottom: 0;
}

.__container.noPadding
{
    padding-bottom: 0;
}

.__container.comment
{
    padding: 16px 16px 16px 16px;
}

.__container.odd
{
    background-color: #eeeeee;
    margin-bottom: 6px;
}

.__container.outers
{
    margin: 15px 15px 15px 15px;
}

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12
{
    position: relative;
    min-height: 1px;
    padding-right: 3px;
    padding-left: 3px;
}

.row {
    margin-right: -3px;
    margin-left: -3px;
}
#title
{
    font-family: OpenSans;
    font-size: 25px;
    padding-top: 5px;
    padding-left: 5px;
    font-weight: lighter;
}

form
{
    margin: 0 0 0 0;
}

#title h1
{
    margin-bottom: 0;
    padding-bottom: 0;
    margin-left: 15px;
}

#portal-title-actions
{
    position: absolute;
    right: 0;
    top: 20px;
    padding-right: 50px;
}

.portal-image-gallery
{
    height: 34vw;
    max-height: 520px;
    overflow: hidden;
}

#portal-navbar
{
    border-bottom: 2px black solid;
    height: 43px;
}


.gallery-title
{
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    height: 18px;
}

.image-panorama
{
    position: relative;
    max-height: 100%;
}

.image-panorama-images
{
    position: absolute;
    max-width: none!important;
    height: 34vw;
    max-height: 520px;
}

.image-panorama-navigation
{
    position: relative;
    width: 100%;
    height: 100%;
}

.image-panorama-navigation span
{
    font-size: 5vh;
}

.image-panorama-navigation a
{
    position: absolute;
    height: 50px;
    top: 40%;
    opacity: 0.4;
    transition: opacity 0.4s;
}

.image-panorama-navigation a:hover
{
    opacity: 1;
}

.image-panorama-prev
{

    left: 0;
}

.image-panorama-next
{
    right: 0;
}

.image-panorama-image-container
{
    float: left;
    text-align: center;
}

.image-panorama-image-container img
{
    height: 100%;
    max-width: 100%;
}

.image-single-view
{
    width: 100%;
    text-align: center;
    max-height: 34vw;
    background-color: #a2a2a2;
}

.image-single-view img
{
    height: 100%;
}

.gallery-collection-images
{
    white-space: nowrap;
    overflow: hidden;
    max-width: none !important;
    margin-bottom: 10px;
    padding-bottom: 10px;
    background-color: #696969;
}

.gallery-collection-images ul
{
    height: 100px;
    width: 100px;
}

.gallery-collection-images ul li
{
    display: inline;
    margin-left: 5px;
}

.gallery-collection-images ul li img
{
    height: 100%;
    max-width: 140px;
    cursor: pointer;
}

.thumbnail-image
{
}

.thumbnail-image.selected
{
    border: 2px orange solid;
}

.__clear-floats
{
    clear: both;
}


.comments-section-new
{
}

.comments-section-new textarea
{
    width: 91.254558563%;
}

.comments-section-new button
{
    width: 19%;
}

.comment-outer
{
    z-index: 50;
    position:relative;
    padding: 12px 12px 12px 12px;
    margin-bottom: 6px;
    border-left: 1px solid rgba(232, 201, 176, 0.45);
}

.comment-outer-text
{
    float: left;
    width: 85%;
    z-index: 50;
}

.comment-outer-image
{
    z-index: 50;
    width: 7%;
    max-width: 50px;
    height: 50px;
    float: left;
    padding-right: 12px;
}

.comments-title
{
    text-align: left;
}

.comment-outer-image img
{
    height: 100%;
    max-width: 100%;
}

.comment-outer-title
{
    font-weight: bold;
}

.comment-inner-date
{
    font-style: normal;
    color: #9c9c9c;
    margin-left: 6px;
    font-size: 9px;
}

.comment-inner-text
{
    font-size: 12px;
}

.comment-inner-name
{
    font-weight: bold;
    font-size: 12px;
    color: #167ac6;
}

.right-side-title
{
    position: absolute;
    right: 8px;
    top: 30%;
}

.left-side-title
{
    position: absolute;
    left: 8px;
    top: 30%;
}

.thumbnail-image-container
{
    position: relative;
}

.thumbnail-image-container span
{
    position: absolute;
    color: white;
    bottom: -15px;
    left:20px;
    z-index: 50;
}

.thumbnail-image-container a
{
    z-index: 49;
}